{{#each pages as |page| }}
  <div class="single-page" id="page_{{page.nr}}" data-page-number="{{page.nr}}">
  <div class="page-share">
    <span class="pagenumber">{{page.nr}}</span>
    <div class="share-part">
      <div share-part-separator>
        <h5 class="url">Page URL: </h5>
        <a href="{{../base_url}}{{../book.book_name_clean}}/p{{page.nr}}" class="direct-url">{{../base_url}}{{../book.book_name_clean}}/p{{page.nr}}</a>
      </div>
      {{#with ../book}}
      <div share-part-separator>
        <h5>Mobile File: </h5>
        {{#if file_url_pdf}}
        <a href="{{ file_url_pdf }}" class="download-pdf " onclick="_gaq.push([\'_trackEvent\', \'eSamiszat-Shelf\', \'{{ book_name }}\', \'download pdf\);"><i class="icon-book"></i> PDF</a>
        {{/if}}
        {{#if file_url_epub }}
        <a href="{{ file_url_epub }}" class="download-epub " onclick="_gaq.push([\'_trackEvent\', \'eSamiszat-Shelf\', \'{{ book_name }}\', \'download epub\);"><i class="icon-book"></i> ePub</a>
        {{/if}}
        {{#if file_url_music }}
        <a href="{{ file_url_music }}" class="download-music " onclick="_gaq.push([\'_trackEvent\', \'eSamiszat-Shelf\', \'{{ book_name }}\', \'download music\);"><i class="icon-play-sign"></i> MP3</a>
        {{/if}}
      </div>
      {{/with}}
      {{#if page.audio}}
      <div share-part-separator class="audiotrack">
        <h5>
          {{#if page.audio.track}}{{page.audio.track}}. {{/if}}{{page.audio.title}}
        </h5>
        <a href="{{page.audio.url}}" class="download-music" onclick="_gaq.push([\'_trackEvent\', \'eSamiszat-Shelf\', \'{{ ../book.book_name }}\', \'download music\);"><i class="icon-music"></i> MP3</a>
        <audio preload="metadata" src="{{page.audio.url}}" />
      </div>
      {{/if}}
      <div share-part-separator>
        {{#each ../book.attributes.url as |attribute name|}}
          <h5>{{name}}: </h5>
          {{#each this}}
          <a href="{{value}}" target="_blank" 
            onclick="_gaq.push([\'_trackEvent\', \'eSamiszat-Shelf\', \'{{ ../../book.book_name }}\', \'{{name}}\);">
            {{#if subtitle}}{{subtitle}}: {{/if}}
            {{shorten value}}
          </a>
          {{/each}}
        {{/each}}
      </div>
    </div>
  </div>
  {{#if page.url}}
  <img src="{{page.url}}" width="{{page.width}}" height="{{page.height}}" />
  {{else}}
  <div class="empty-page"></div>
  {{/if}}
</div>
{{/each}}

